.replyButton {
  background-color: transparent;
  border: none;
  font-family: 'Inter', serif;
  border-radius: 5px;
  padding: 0px 10px 0px 5px;
}

.replyButton:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
  transition-duration: 0.1s;
}

.replyIcon {
  padding-left: 5px;
  padding-right: 10px;
}

.options {
  display: flex;
  gap: 15px;
}
